{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react", "@babel/preset-flow"]
    }
  },
  "plugins": ["jest", "flowtype", "react"],
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "plugin:flowtype/recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-prototype-builtins": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "function-paren-newline": "off",
    "object-curly-newline": "off",
    "react/no-find-dom-node": "off",
    "react/jsx-filename-extension": "off",
    "react/sort-comp": "off",
    "react/require-default-props": "off",
    "react/no-multi-comp": "off",
    "react/static-property-placement": "off",
    "react/state-in-constructor": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/img-has-alt": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.spec.js",
          "docs/**/*.js",
          "webpack.config.*.js"
        ]
      }
    ],
    "no-console": "warn",
    "no-unused-vars": "warn",
    "quotes": ["error", "single"],
    "operator-linebreak": ["error", "before"],
    "implicit-arrow-linebreak": "off",
    "no-confusing-arrow": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "max-classes-per-file": "off",
    "react/destructuring-assignment": "off",
    "react/no-unused-prop-types": "off",
    "react/forbid-prop-types": "off",
    "class-methods-use-this": "off"
  }
}
